{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
 {# <p>{{res.title}}</p> #}
<div class="example-wrapper">
<form action="{{path('comment_new')}}" method="post">
comlmebnt:<input type="text" name="comment">
user:<input type="hidden" name="user">
approve:<input type="hidden" name="approve" >
film:<input type="hidden" name="film" value="{{res.id}}">

    <input type="submit" value="add"> 
</form>
   
</div>
{% endblock %}
