{% extends 'navigation/adminBase.html.twig' %}

{% block title %}Edit Faq{% endblock %}

{% block body %}
    
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header">Website faq  </div>
                    <div class="card-body">
                        <div class="card-title">
                            
                        </div>
                        <hr>
                        {{ include('faq/_form.html.twig', {'button_label': 'Update','class':'btn '}) }}
                        <div style="float:right">
                       

                        <a class="btn btn-primary"
                            href="{{ path('faq_index') }}">back to list</a>

                        <div class="btn btn-danger">{{ include('faq/_delete_form.html.twig') }}</div>
                        </div>
   
      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}
