{% extends 'base.html.twig' %}
{% block body %}
    {# <h1>Create new Utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }} #}

   
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                         {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

                          {{ include('utilisateur/_form.html.twig') }} 
                     

                            <div class="register-link">
                                <p>
                                    Already have account?
                                    <a href="{{ path('app_login') }}">Sign In</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
{% endblock %}
